@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

body {  
    color: #666;
    
    /* color de fondo  */  
}  
:root{
    --orange:#dd152f;  
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .1s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #ffffff 60%, #ffffff 40.1%);
    padding-bottom: 80px;
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }

  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .container form .row .col .inputBox{
    margin:15px 0;
  }

  .container form .row .col .inputBox span {
    font-size: 15px;
    margin:10px ;
    display: block;
  }

  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #000000;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }


  .container form .row .col .inputBox input :focus {
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  .container .terminosycondiciones{
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .container .terminosycondiciones a{
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 58, 248, 0.918);
    text-decoration: none;
  }

  
.container form .row .col2 .SystemPayment img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .btn{
    text-align: center;
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }

  

  
  .container form .submit-btn:hover{
    background: #2ecc71;
  }

 

  .container a{
text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  



*::selection{
    background:var(--orange);
    color:#fff;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 6rem;
        scroll-behavior: smooth;
    }

    section{
        padding:2rem 9%;

    }

    .heading{
        text-align: center;
        padding:2.5rem 0;
    }

    .heading span{
        font-size: 3.3rem;
        color: var(--orange);
        border-radius: .5rem;
        padding:.2rem 1rem;
    }


    .heading span.space{
        background:none;

    }


    .btn{
        display: inline-block;
        margin-top: 1rem;
        background: #000000;
        color: #eeebeb;
        padding:.8rem 3rem;
        border:.2rem solid var(#af1111);
        cursor: pointer;
        font-size: 1.7rem;
    }

    .btn:hover{
        background: rgba(0, 0, 0, 0.541);
        color: var(--orange);
    }

    header{
        position: fixed;
        top:0; left: 0; right: 0;
        background: #363436;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
    }

    header .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #ffffff;
        text-transform: uppercase;
    }

    header .logo span{
        color:var(--orange);

    }
    header .navbar a{
        color: #fff;
        text-shadow: 2px 2px 5px #7e2828;
        font-size: 2rem;
        margin:0 .8rem;
    }

    header .navbar a:hover{
        color: rgba(255, 17, 0, 0.98);
    }


    header .icons a{
        font-size: 2.5rem;
        color: #fff;
        cursor: pointer;
        margin-right: 2rem;
    }

    header .icons i{
        font-size: 2.5rem;
        color: #fff;
        cursor: pointer;
        margin-right: 2rem;
    }


    header .icons i:hover{
        color: #eee;
    }

    header .search-bar-container{
        position: absolute;
        top:100%; left: 0; right:0;
        padding:1.5rem 2rem;
        background: #333;
        border-top: 1rem solid rgba(255,255,255,.2);
        display: flex;
        align-items: center;
        z-index: 1001;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .search-bar-container.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .search-bar-container #search-bar{
        width:100%;
        padding:1rem;
        text-transform: none;
        color: #ec0404;
        font-size: 1.7rem;
        border-radius: .5rem;
    }

    header .search-bar-container label{
        color:#fff;
        cursor: pointer;
        font-size: 3rem;
        margin-left: 1.5rem;
    }

    header .search-bar-container label:hover{
        color: #080606;
    }

    .login-form-container{
        position: fixed;
        top:-120%; left: 0;
        z-index: 10000;
        min-height: 100vh;
        width:100%;
        background: rgba(0,0,0,.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-form-container.active{
        top:0;
    }
    
    
    .login-form-container form{
        margin:2rem;
        padding:1.5rem 2rem;
        border-radius: .5rem;
        background:#fff;
        width:50rem;
    }
    
    .login-form-container form h3{
        font-size: 3rem;
        color: #444;
        text-transform: uppercase;
        text-align: center;
        padding:1rem 0;
    }
    
    .login-form-container form .box{
        width:100%;
        padding:1rem;
        font-size: 1.7rem;
        color: #333;
        margin:.6rem 0;
        border:.1rem solid rgba(0,0,0,.3);
        text-transform: none;

    }
    
    .login-form-container form .box:focus{
        border-color: var(--orange);
    }
    
    .login-form-container form #remember{
        margin:2rem 0;
    }
    
    .login-form-container form label{
    font-size: 1.5rem;
    }
    .login-form-container form .btn{
        display: block;
        width:100%;
    }
    .login-form-container form p{
        padding:.5rem 0;
        font-size: 1.5rem;
        color: #666;
    }
    .login-form-container form p a{
        color: var(--orange);
    }
    
    .login-form-container form p a:hover{
        color: #333;
        text-decoration: underline;
    }
    
    .login-form-container #form-close{
        position: absolute;
        top:2rem; right:3rem;
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
}
#menu-bar .img{
    width: 1px;
    height: 1px;
    border-radius: 20px;
}




.home{
    min-height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #f8f3f3;
    text-transform:uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.3);
}

.home .content p{
    font-size:3.5rem;
    padding:.15rem 0;
}


.home .controls{
    padding:10rem;
    border-radius: 15rem;
    background: rgba(109, 97, 97, 0.315);
    position: relative;
    top:100rem;
}


.home .controls .vid-btn.active{
    background: #f7f7f7c7;
}


.slider {
    align-items: center;

    width: 75vw;
    height:auto;
    margin:auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s infinite linear ;
    -webkit-animation: scroll 40s  infinite linear;
    width: calc(100px * 20);

}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 75%;
    
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

 .footer{
    background: #333;
 }

 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }

 .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
 }

 .footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color: #fff;
    
 }

 .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color: #eee;
 }

 .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color: #fff;
 }

 .footer .box-container .box a:hover{
    color: var(--orange);
    text-decoration: underline;
 }
 .footer .credit{
   text-align: center;
   padding:2rem 1rem;
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: normal;
   color: #fff;
   border-top: .1rem solid rgba(255,255,255,.2);
 }

 .footer .credit span{
    color: var(--ora);
 }

 .whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0fc90f;
    color: #fff;
    text-align: center;
    font-size: 55px;
    border-radius: 50px;
    z-index: 100;
}

.whatsapp:hover{
    color: #fff;
    transition: 0.2s;
    font-size: 37px;
}

.iframe-container {  
    position: relative;  
    width: 100%;    /* Ancho total del contenedor */  
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */  
    height: 0;      /* Se establece a 0 para usar el padding como altura */  
    overflow: hidden; /* Oculta cualquier contenido que se desborde */  
}  

.iframe-container iframe {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  /* Ancho del iframe */  
    height: 100%; /* Altura del iframe */  
    border: 0;    /* Sin bordes */  
}









/*preguntas  */


@media (max-width:1200px){

    html{
    font-size: 55%;
    }
}
@media (max-width:991px){
    header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width:768px){

    #menu-bar{
        display: initial;
    }

    
    header .navbar{
        position: absolute;
        top:100%; right:0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255, .2);
        padding: 1rem 2rem;
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }



    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding:1.5rem;
        margin:1.5rem 0;
        background: #222;
    }
    }

    @media (max-width:450px){

        html{
        font-size: 50%;
        }

        .heading span{
            font-size: 2.5rem;
        }

        .contactos .row form .inputBox input{
            width:100%;
        }
    }
    

